{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans 'POS TAGS' %}</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <link href="{% static "css/bootstrap.flatly.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
          <link href="{% static "css/style.css" %}" rel="stylesheet">
          <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<script language="JavaScript" src="{% static "js/gramsel.js" %}"></script>
	<script language="JavaScript" src="{% static "js/urlprocessor.js" %}"></script>

</head>
<body onLoad="InitWindow()">
<div class="container">
<div class="row" style="font-size: smaller">
  <div class="col-sm-12">
  <form name="gramForm" id="gramForm" action="">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv  activeA grammar" onClick="inverse('pos')">{% trans 'Parts of Speech' %}</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                    <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                    <input type="checkbox" name="pos" value="S" id="posS">&nbsp;<label for="posS">{% trans 'noun' %}</label><br/>
                    <input type="checkbox" name="pos" value="A" id="posA">&nbsp;<label for="posA">{% trans 'adjective' %}</label><br/>
                    <input type="checkbox" name="pos" value="NUM" id="posNUM">&nbsp;<label for="posNUM">{% trans 'numeral' %}</label><br/>
                    <input type="checkbox" name="pos" value="ANUM" id="posANUM">&nbsp;<label for="posANUM">{% trans 'numeral adjective' %}</label><br/>
                    <input type="checkbox" name="pos" value="V" id="posV">&nbsp;<label for="posV">{% trans 'verb' %}</label><br/>
                    <input type="checkbox" name="pos" value="ADV" id="posADV">&nbsp;<label for="posADV">{% trans 'adverb' %}</label><br/>
                    <input type="checkbox" name="pos" value="PARENTH" id="posPARENTH">&nbsp;<label for="posPARENTH">{% trans 'parenthesis' %}</label><br/>
                    <input type="checkbox" name="pos" value="PRAEDIC" id="posPRAED">&nbsp;<label for="posPRAED">{% trans 'predicative' %}</label><br/>
                        </div>
                        <div class="col-sm-6">
                    <input type="checkbox" name="pos" value="ADVPRO" id="posADVPRO">&nbsp;<label for="posADVPRO">{% trans 'adverbial pronoun' %}</label><br/>
                    <input type="checkbox" name="pos" value="SPRO" id="posSPRO">&nbsp;<label for="posSPRO">{% trans 'pronoun' %}</label><br/>
                    <input type="checkbox" name="pos" value="APRO" id="posAPRO">&nbsp;<label for="posAPRO">{% trans 'adjective pronoun' %}</label><br/>
                    <input type="checkbox" name="pos" value="PR" id="posPREP">&nbsp;<label for="posPREP">{% trans 'preposition' %}</label><br/>
                    <input type="checkbox" name="pos" value="CONJ" id="posCONJ">&nbsp;<label for="posCONJ">{% trans 'conjunction' %}</label><br/>
                    <input type="checkbox" name="pos" value="PART" id="posPART">&nbsp;<label for="posPART">{% trans 'particle' %}</label><br/>
                    <input type="checkbox" name="pos" value="INTJ" id="posINTJ">&nbsp;<label for="posINTJ">{% trans 'interjection' %}</label><br/>
                        </div>
                    </div>
                        </div>
                </div>
            </div>
        </div>
          <div class="panel-footer">
              <input type="button" class="btn btn-default" onClick="collect();return false;" value="{% trans 'OK' %}">
<input type="button" class="btn btn-default" onClick="document.all.gramForm.reset();return false;" value="{% trans 'Clear' %}">
<input type="button" class="btn btn-default" onClick="window.close();return false;" value="{% trans 'Cancel' %}">
          </div>

      </div>
  </form>
  </div>
</div>
    </div>
</body>
</html>