{% load staticfiles %}
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="title" content="Русский учебный корпус">
        <meta name="robots" content="index,all">
        <meta name="resourse-type" content="document">
        <meta name="document-state" content="dynamic">
    

        <title>
        Русский язык в многоязычном мире: Call for pappers
        </title>

     <!-- Style-->
	<link href="{% static "css/bootstrap.flatly.css" %}" rel="stylesheet">
 	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="{% static "conference/style/jquery-1.9.1.js" %}""></script>
	<script type="text/javascript" async="" src="{% static "conference/style/watch.js." %}"></script>

        <script src="{% static "conference/style/bootstrap.min.js" %}"></script>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link href="{% static "conference/style/style.css" %}" rel="stylesheet">
        <link href="{% static "conference/style/styles.css" %}" rel="stylesheet">
       <script type="text/javascript" async="" src={% static "conference/style/watch.js." %}></script>
    
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "conference/style/ideal-image-slider.css" %}">
	<link rel="stylesheet" href="{% static "conference/style/normalize.css" %}">
	<link rel="stylesheet" href="{% static "conference/style/default.css" %}">
    

	<style media="screen">
	#slider {
		max-width: 600px;
		margin: 50px auto;
	}
	</style>
    
</head>


<!--body-->
<body>
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class='col-md-2'>
         <center><a href="https://conf.hse.ru"><img src="{% static "conference\img\logo.jpg" %}" alt="лого конференции" height = '150px' width = '150px'> </a></center>
         </div>
        <div class="col-md-8">
          <center><h1 id="top">Русский язык в многоязычном мире
            <p class="lead">секция Апрельской международной научной конференции НИУ ВШЭ</p></center>
          </h1>
        </div>
        <div class="col-md-2">
       <center><a href="https://ling.hse.ru/"><img src="{% static "conference\img\logo2.jpg" %}" alt="лого школы лингвистики" height = '150px' width="150px" >  </a> </center>
        </div>
        </div>
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->


    <div class="container">
      <!--left-->
      
      <div class="col-md-3" id="leftCol" style="margin-top: 5px;">
       <div class="menu" id="MainMenu">
        <ul class="nav nav-stacked affix-top" id="sidebar">
        <li><a href="#sec1">“RUSSIAN LANGUAGE IN THE MULTILINGUAL WORLD” <br>
First call</a></li>
        <hr>
        <li><a href="http://www.web-corpora.net/RLC/conference">Main page</a></li>
        <hr>
	<li><a href="http://www.web-corpora.net/RLC/">Сайт RLC</a></li>
        </ul>
        </div>
        </div>
         <div class="col-md-9" >
      <br>


<h3 id="sec1">“RUSSIAN LANGUAGE IN THE MULTILINGUAL WORLD” <br>
First call</h3>
<br>
<p>Dear colleagues, <br>
we are happy to announce that the regular section “Russian language in the multilingual world” as part of the XIX April Conference at NRU HSE (National Research University Higher School of Economics) will be held on 10-13th of April 2018.</p>

The section is focused around the following general topics:
    
<ul>
<li>Corpus research on non-standard Russian</li>
<li>Learners corpora: building, compiling, developing and tagging</li>
<li>Russian language in bilingual/multilingual environment</li>
<li>Heritage Russian</li>
<li>Sociolinguistic research in Russian language acquisition</li>
<li>Teaching Russian as a foreign language</li>
<li>Corpus research in theoretical linguistic</li>
</ul>
    
<p>We kindly ask you to present short abstracts of your talks by 29th of January. Abstracts will consist 500 words description of your talk and key words. The information about speaker will include the following information: name and surname, country, affiliation, e-mail.</p>

<p>The conference is organized by the School of Linguistics of the NRU HSE (Moscow).
The committee: E.V. Rakhilina, M.A. Krongauz, A.S. Vyrenkova (Marushkina), O.A. Kultepina.</p>

<p>If you have any questions about submitting abstracts or the conference in general, please contact us: rusmultilingworld_hse@yahoo.com. <br>
You can also lead to our conference-page: http://web-corpora.net/RLC/conference</p>
 
<p>We will be glad to see you at our conference!</p>

 
  




    
            
  	</div><!--/row-->
    
    </div>
<!--/container-->

      <footer class="footer">
          <div class="container">
              <p class="navbar-text navbar-left text-muted">Школа Лингвистики НИУ ВШЭ 2017</p>
	<p class="navbar-text navbar-right text-muted">Смирнов Иван</p>
          </div>
      </footer>
 <!-- script references-->
	<script src="{% static "conference/style/ideal-image-slider.js" %}"></script>
	<script>
	var slider = new IdealImageSlider.Slider('#slider');
	</script>
    <script src="{% static "conference/style/scripts.js" %}"></script>