{% load staticfiles %}
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="title" content="Русский учебный корпус">
        <meta name="robots" content="index,all">
        <meta name="resourse-type" content="document">
        <meta name="document-state" content="dynamic">
    

        <title>
        Русский язык в многоязычном мире
        </title>

     <!-- Style-->
	<link href="{% static "css/bootstrap.flatly.css" %}" rel="stylesheet">
 	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="{% static "conference/style/jquery-1.9.1.js" %}""></script>
	<script type="text/javascript" async="" src="{% static "conference/style/watch.js." %}"></script>

        <script src="{% static "conference/style/bootstrap.min.js" %}"></script>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link href="{% static "conference/style/style.css" %}" rel="stylesheet">
        <link href="{% static "conference/style/styles.css" %}" rel="stylesheet">
       <script type="text/javascript" async="" src={% static "conference/style/watch.js." %}></script>
    
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "conference/style/ideal-image-slider.css" %}">
	<link rel="stylesheet" href="{% static "conference/style/normalize.css" %}">
	<link rel="stylesheet" href="{% static "conference/style/default.css" %}">
    

	<style media="screen">
	#slider {
		max-width: 600px;
		margin: 50px auto;
	}
	</style>
    
</head>


<!--body-->
<body>
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class='col-md-2'>
         <center><a href="https://conf.hse.ru/2017/"><img src="{% static "conference\img\logo1.jpg" %}" alt="лого конференции" height = '150px' width = '150px'> </a></center>
         </div>
        <div class="col-md-8">
          <center><h1 id="top">Русский язык в многоязычном мире
            <p class="lead">секция Апрельской международной научной конференции НИУ ВШЭ</p></center>
          </h1>
        </div>
        <div class="col-md-2">
       <center><a href="https://ling.hse.ru/"><img src="{% static "conference\img\logo2.jpg" %}" alt="лого школы лингвистики" height = '150px' width="150px" >  </a> </center>
        </div>
        </div>
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->


    <div class="container">
      <!--left-->
      
      <div class="col-md-3" id="leftCol" style="margin-top: 5px;">
       <div class="menu" id="MainMenu">
        <ul class="nav nav-stacked affix-top" id="sidebar">
        <li><a href="#sec1">О конференции</a></li>
        <li><a href="#sec5">История конференций</a></li>
        <li><a href="#sec6">Среди наших участников</a></li>
	<li><a href="#sec2">Конференция 2017</a></li>
        <li><a href="#sec4">О Русском учебном корпусе</a></li>
        <li><a href="#sec7">Партнеры</a></li>
        <hr>
	<li><a href="http://www.web-corpora.net/RLC/">Сайт RLC</a></li>
        </ul>
        </div>
        </div>
         <div class="col-md-9" >
      <br>
      <h3 id="sec1"> О конференции</h3>
<p>Дорогие коллеги, приглашаем Вас принять участие в секции "Русский язык в многоязычном мире" в рамках ежегодной Апрельской Конференции НИУ ВШЭ. 
Секция посвящена следующим вопросам:
</p><ul>
<li>Русский язык в условиях билингвизма;</li>
<li>Эритажный русский;</li>
<li>Русский как иностранный;</li>
<li>Корпусные исследования нестандартного русского.</li>
<li>Особенности вариантов русского языка</li>
<li>Мастер-класс по работе с RLC</li></ul>
Конференция организуется под эгидой Школы лингвистики НИУ ВШЭ (Москва).



   
<hr id="sec5">
        <h3>История конференций</h3>
        <h4><b><u>2016 год</u>:</b></h4>
        <p>21-22 апреля в рамках XVII Апрельской конференции НИУ ВШЭ была организована лингвистическая секция "Русский язык в многоязычном мире". </p>
        Основные темы секции:<ul>
<li>Многоязычие, его типы и параметры функционирования;</li>
<li>Языковые контакты и их воздействие на языковую структуру;</li>
<li>Грамматика и лексика в преподавании русского языка;</li>
<li>Лингвистические корпуса в преподавании языка и изучении многоязычия.</li></ul>
     <center>
  	<div id="slider">
		<img src="{% static "conference\img\ph1.JPG" %}" data-src-2x="{% static "conference\img\ph1.JPG" %}" alt="Slide 1" />
		<img data-src="{% static "conference\img\ph2.jpg" %}" data-src-2x="{% static "conference\img\ph2.jpg" %}" alt="Slide 2" />
		<img data-src="{% static "conference\img\ph3.jpg" %}" data-src-2x="{% static "conference\img\ph3.jpg" %}" src="" alt="Slide 3" />
		<img data-src="{% static "conference\img\ph4.jpg" %}" data-src-2x="{% static "conference\img\ph4.jpg" %}" src="" alt="Slide 4" />
		<img data-src="{% static "conference\img\ph5.jpg" %}" data-src-2x="{% static "conference\img\ph5.jpg" %}" src="" alt="Slide 5" />
		<img data-src="{% static "conference\img\ph6.jpg" %}" data-src-2x="{% static "conference\img\ph6.jpg" %}" src="" alt="Slide 5" />
	</div>
    </center>
                <hr id="sec6">
        <h3>Среди наших участников:</h3>
Аимгуль Казкенова (Казахский национальный педагогический университет им. Абая) <br>
Апресян В.Ю. (НИУ ВШЭ)<br>
Арсеньева И. (РУДН) <br>
Бенаккио Розанна (Падуанский университет)<br>
Бениджи Валентина (Римский третий университет) <br>
Бергман А. (Берлинский университет им. Гумбольдта) <br>
Биаджини Ф. (Болонский университет) <br>
Бонно Кристин (ИНАЛЬКО) <br>
Виимаранта Х. (Университет Хельсинки) <br>
Власова Е. (НИУ ВШЭ) <br>
Воейкова М.Д. (Институт лингвистических исследований РАН в Санкт-Петербурге)  <br>
Драгой О.В. (НИУ ВШЭ) <br>
Еленевская М. (Технион, Израильский технологический институт) <br>
Еремина О.С. (НИУ ВШЭ) <br>
Израэли А. (Американский университет г. Вашингтон) <br>
Илясов О. (НИУ ВШЭ)  <br>
Канэко Ю. (Университет иностранных языков г. Кобэ) <br>
Кор-Шаин И. (Университет Ниццы Софии Антиполис) <br>
Кронгауз М.А. (НИУ ВШЭ) <br>
Культепина О. (НИУ ВШЭ) <br>
Кюльмоя И.П. (Тартуский университет) <br>
Ладыгина А. (Университет Тюбингена) <br>
Литвинцева К. (НИУ ВШЭ) <br>
Низник Марина (Израиль) <br>
Ольшевская М. (НИУ ВШЭ)  <br>
Паликова О.Н. (Тартуский университет) <br>
Перотто М. (Болонский университет) <br>
Питерс-Подгаевская (Нидерланды) <br>
Протасова Е. (Университет Хельсинки) <br>
Рамзайцева О. (НИУ ВШЭ) <br>
Рингблом Н. (Стокгольмский университет) <br>
Славкова С. (Болонский университет) <br>
Слюсарь Н.А. (НИУ ВШЭ) <br>
Сонг Ю-Дж. (Сеульский университет) <br>
Тагаев М. (Кыргысзско-Российский славянский университет) <br>
Хокканен М. (Университет Хельсинки) <br>
Шкодова С. (Технический университет Либерец) <br>
Шмелев А.Д. (ИРЯ РАН, МПГУ) <br>

<h3 id="sec2">Конференция 2017</h3>
          Конференция состоится <b>13 - 15 апреля 2017 года.</b>
<p><i>Программный комитет</i>: Е.В. Рахилина, А.С. Выренкова (Марушкина), М.А. Кронгауз,  О. Илясов. <br>
<i>Секретарь конференции</i>: О.А. Культепина.</p>


    <div class="panel panel-default">
              <a href="{% static "conference\files\Программа РЯ в многоязычном мире 2017.pdf" %}" target='_blank'>
<div class="panel-heading"><center><h4 id="sec3">Предварительная программа конференции 2017</h4></a>
</center></div>
</form>
              <div class="panel-body">              
<center>
<h4 id="sec3"><b>13 апреля</b></h4>
ул. Мясницкая, 11, ауд. 423.
<hr>
<h5><b>10.00 – 11.30 <br>
Круглый стол X-09. Конкуренция языков</b></h5></center>
Вопросы для обсуждения: <br>
<li>Восприятие русского языка на постсоветском пространстве и за рубежом;</li>

<li>Взаимодействие русского и других языков в многоязычной среде;</li>

<li>Языковое взаимодействие в современных средствах массовой коммуникации;</li>
<br>
<b>Модератор:</b> М. Кронгауз<br>
<b>Участники:</b> И. П. Кюльмоя (Тартуский университет), М. Низник (Тель-Авивский университет), М. Наврузбеков (Институт Истории, археологии и этнографии им. А. Дониша АН РТ, г. Душанбе), М. Перотто (Болонский университет), Е. Протасова (университет Хельсинки)<hr>
<center><h5><b>11.30 – 12.00 <br>

Кофе-брейк</b></h5></center><hr>

<center><h5><b>12.00 – 13.30 <br>
Сессия X-10. Понятие языкового стандарта в условиях многоязычия</b></h5></center>

<b>Председатель:</b> М. Д. Воейкова (ИЛИ РАН)<br><br>

<li>А. А. Кибрик (Ияз РАН), М. Б. Бергельсон (НИУ ВШЭ) – Русский как бесписьменный</li><br>
<li>В. Ю. Апресян (НИУ ВШЭ), А. Д. Шмелев (ИРЯ РАН, МПГУ) – Стратегии безопасности в современных СМИ: грамматикализация ЯКОБЫ как показателя эвиденциальности</li><br>
<li>М. Перотто (Болонский университет) – Роль субботних школ в развитии билингвизма у русскоязычных детей в Италии</li>
<hr>
<h5><center><b>13.30 – 15.00 <br>
Обед</b></center></h5>
<hr>
<h5><center><b>15.00 – 16.30 <br>
Сессия X-11. Пограничный русский: контактные явления и факторы усвоения</b></center></h5>
<b>Председатель:</b>М. Перотто (Болонский университет)<br><br>

<li>О. В. Драгой (НИУ ВШЭ) – Диагностики и предотвращение речевых расстройств у русскоязычных пациентов с патологией головного мозга</li><br>
<li>Н.  Рингблом (Стокгольмский университет) – Особенности русского языка двуязычных детей в Швеции</li><br>
<li>А. В. Пеетерс-Подгаевская (Амстердамский университет) – Раннее языковое развитие русско-голландского ребенка: лонгитюное исследование</li>
<hr>

<center><h5><b>16.30 – 17.00 <br>
Кофе-брейк</b></h5></center>

<hr>
<center><h5><b>17.00 – 18.30 <br>
Сессия X-12. Пограничный русский: контактные явления и факторы усвоения</b></h5></center>
<b>Председатель:</b> Е. Протасова (Университет Хельсинки)<br><br>
<li>М. Д. Воейкова (ИЛИ РАН) –  Русский язык в Китае</li><br>
<li>О. Н. Паликова (Тартуский университет), И. П. Кюльмоя (Тартуский университет) – Об  ошибках в "эритажном" русском языке Эстонии</li><br>
<li>А. Израэли (Американский университет) – Проблемы преподавания глаголов движения</li>
<hr>
<center><h4><b>14 апреля</b>
</h4>ул. Мясницкая, 11, ауд. 423.</center>
<hr>
<h5><center><b>10.00 – 11.30 <br>
Сессия X-13. Компьютерные инструменты как инструмент изучения языковой интерференции</b></center></h5>
<b>Председатель:</b> А. Израэли (Американский университет)<br><br>

<li>Е. В. Рахилина (НИУ ВШЭ), О. С. Еремина (НИУ ВШЭ), А. С. Выренкова (НИУ ВШЭ) – Разные «одинаковые»</li><br>

<li>С. Славкова (Болонский университет) – Использование параллельного русско-итальянского корпуса в практике преподавания русского языка будущим переводчикам в итальянских университетах</li><br>

<li>О. Ю. Илясов (НИУ ВШЭ) - Русские числительные в контексте преподавания РКИ</li><br>
<li>Е. А. Власова (НИУ ВШЭ) - Основные виды лексико-грамматических нарушений в речи носителей финского языка, изучающих русский</li>
<hr>
<h5><center><b>11.30 – 12.00 <br>
Кофе-брейк</b></center></h5>
<hr>
<h5><center><b>12.00 – 13.30 <br>
Сессия X-14. Компьютерные инструменты как инструмент изучения языковой интерференции</b></center></h5>
<b>Председатель:</b> С. Славкова (Болонский университет)<br><br>
<li>D. Oliveira (UFRJ) – Identificational constructions in Russian and L2 acquisition: a usage-based approach</li>
<br>
<li>И.А. Арсеньева (RUDN University), Юй Линхун (Хэнаньский университет) – О некоторых ошибках в употреблении НСВ и СВ в русской речи китайскими учащимися</li><br>
<li>Биаджини Ф. (Болонский университет) – Выражение пре-уступительного межфразового отношения на продвинутом этапе обучения русскому языку как иностранному при помощи Русско-итальянского параллельного корпуса</li><br>
<li>О. Культепина (НИУ ВШЭ) – Анализ ошибок в управлении глагола ИГРАТЬ в учебных текстах студентов РКИ</li> <br>
<li>М. Ю. Ольшевская (НИУ ВШЭ) – Ошибки в использовании конструкций с компонентом "только" (на материале корпуса RLC)</li> <br>

<li>Биаджини Ф. (Болонский университет) – Выражение пре-уступительного межфразового отношения на продвинутом этапе обучения русскому языку как иностранному при помощи Русско-итальянского параллельного корпуса</li>
<hr>
<h5><center><b>13.30 – 15.00 <br>
Обед</b></center></h5>
<hr>
<h5><center><b>15.00 – 16.30 <br>
Сессия X-15. Образовательные технологии как стимул развития русского языка</b></center></h5>
<b>Председатель:</b> Еремина О.С.<br><br>
<li>А. Никунласси (университет Хельсинки) – Критерии оценивания и сравнения обучающих ресурсов</li>
<br>
<li>А. Бергман (Берлинский университет им. Гумбольдта), Н. Ермакова (Берлинский университет им. Гумбольдта) – Изложение: требования жанра и компетенции студентов в процессе изучения русского языка</li>
<br>
<li>Ю. Канэко (Университет иностранных языков г. Кобэ) – Преобразование типов предикатов при переводе художественного текста (на материале русского и японского языков)</li>
<hr>
<h5><center><b>16.30 – 17.00<br>
Кофе-брейк</b></center></h5>
<hr>
<h5><center><b>17.00 – 18.30 <br>
Сессия X-16. Современное состояние вариантов русского языка за рубежом</b></center></h5>
<b>Председатель:</b> А. Бергман (Берлинский университет им. Гумбольдта)<br><br>
<li>Х. Виимаранта (Хельсинкский университет), Е. Протасова (Хельсинкский университет), М. Хокканен (Хельсинкский университет) – Особое положение русского языка в Финляндии</li>

<li>М. Тагаев (КРСУ) – Русский язык как компонент языкового сознания киргизов</li>

<li>M. Yelenevskaya (Technion – Israel Institute of Technology) - Linguistic landscape in a multilingual state: From code mixing to a regional version of the Russian language in Israel</li><br>
<hr>
<center><h4><b>15 апреля</b></h4>
ул. Старая Басманная, 21/4, стр. 1</center>
<hr>
<h5><center><b>10.00 – 13.30 <br>
Круглый стол. Развитие Учебного корпуса русского языка: текущие задачи и перспективы. Дискуссия.</b> </center></h5>
<hr>
<h5><center><b>Закрытие конференции.</b></center></h5>
               </div>
               </div>

                <hr id="sec4">       
        <h3>О Русском учебном корпусе</h3>
        <p>В Русском учебном корпусе содержатся образцы устной и письменной речи двух категорий нестандартных говорящих на русском языке: изучающих русский язык как иностранный и так называемых эритажных говорящих. Для первой категории русский язык не является родным, представители же второй категории начали усваивать его в детстве как первый язык, но по разным причинам (в основном, это эмиграция) в качестве основного языка общения используют другой язык. Корпус позволяет производить поиск по лексико-грамматическим свойствам, а также по самым разным типам отклонений от стандартной русской речи - от орфографических ошибок до выбора лексических единиц и конструкций.
Лингвистический анализ и разметка осуществляются членами Лаборатории по корпусным исследованиям НИУ ВШЭ под руководством Екатерины Рахилиной.</p>
<p>Основная часть текстов любезно предоставлена преподавателями русского как иностранного за рубежом, многие из которых специально работают и с эритажными говорящими.</p>
               
                <hr id="sec7">
        <h3>Партнёры</h3>
Аимгуль Казкенова (Казахский национальный педагогический университет им. Абая)<br>
Александр Красовитцкий (Оксфордский университет)<br>
Алла Смыслова (Колумбийский университет)<br>
Анка Бергманн (Берлинский университет им. Гумбольдта)<br>
Анна Мёль (Университет Цюриха)<br>
Анна Михайлова (университет штата Орегон) <br>
Анна Павлова (Майнцский университет им. Иоганна Гутенберга)<br>
Евгений Деньгуб (языковая школа Миддлбери)<br>
Екатерина Протасова (Университет Хельсинки) <br>
Екатерина Протасова (Университет Хельсинки)<br>
Ирина Дубинина (Брандейский университет) <br>
Ирина Кор-Шаин (Университет Экс-Марсель)<br>
Маргарита Казакевич (Осакский университет)<br>
Мария Полински (Гарвардский университет)<br>
Моника Перотто (Болонский университет) <br>
Назия Жанпеисова (Актюбинский университет им. С.Баишева) <br>
Наталья Рингблом (Стокгольмский университет)<br>
Олеся Киселёва (университет Пенн Стейт) <br>
Рашида Касымова (Казахский национальный университет им. аль-Фараби)<br>
Светлана Славкова (Болонский университет)<br>
Светлана Соколова (Университет Тромсе)<br>
Сухьен Ли (Сеульский национальный университет)<br>
Франческа Биаджини (Болонский университет)<br>
Хаяшида Риэ (Осакский университет)<br>
Цунэто Сёго (Осакский университет)<br>




    
            
  	</div><!--/row-->
    
    </div>
<!--/container-->

      <footer class="footer">
          <div class="container">
              <p class="navbar-text navbar-left text-muted">Школа Лингвистики НИУ ВШЭ 2017</p>
	<p class="navbar-text navbar-right text-muted">Смирнов Иван</p>
          </div>
      </footer>
 <!-- script references-->
	<script src="{% static "conference/style/ideal-image-slider.js" %}"></script>
	<script>
	var slider = new IdealImageSlider.Slider('#slider');
	</script>
    <script src="{% static "conference/style/scripts.js" %}"></script>