{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans 'Russian Learner Corpus Help' %}

{% endblock %}
{% block meta_content %}

    {% trans 'Help' %}
{% endblock %}

{% block other %}
    <link rel="stylesheet" href="{% static "css/custom-theme/jquery-ui-1.9.2.custom.css" %}" />
  <script src="{% static "js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script>
  $(function() {
    $( "#tabs" ).tabs();
    });
  </script>
{% endblock %}

{% block upper-row %}

{% endblock %}

{% block content %}

    <div class="row" style="margin-top:1%;">
    <div id="tabs">
  <ul>
    <li role="presentation" class="active"><a href="#howtosearch" aria-controls="home" role="tab"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {% trans 'Как искать' %}</a></li>
  <li role="presentation"><a href="#classification" aria-controls="profile" role="tab"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {% trans 'Классификация ошибок' %}</a></li>
    <li role="presentation"><a href="#howtoann" aria-controls="profile" role="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {% trans 'Как размечать' %}</a></li>
    <li role="presentation"><a href="#howtoregister" aria-controls="messages" role="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans 'Регистрация' %}</a></li>
      {% if request.user.is_authenticated %}
    <li role="presentation"><a href="#howtoaddtexts" aria-controls="settings" role="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {% trans 'Как добавлять тексты' %}</a></li>
      {% endif %}
  </ul>
  <div id="howtosearch">
      <!--left-->
      <div class="col-md-3" style="font-size: smaller; position: relative">
        <ul class="nav nav-stacked" style="position: fixed">

                <li><a href="#exact">Как найти словоформу</a></li>
                <li><a href="#lexic">Что такое лексико-грамматический поиск</a></li>
                <li><a href="#distance">Расстояние между словами</a></li>

            <li><a href="#top">{% trans "Back to top" %}</a></li>

        </ul>
      </div>
    <!--/left-->
        <div class="col-md-9 "  style="margin-top:1%;">
            <div class="panel panel-default content"  id="exact">
      <div class="panel-heading"><h4>{% trans 'Как найти словоформу в корпусе?' %}</h4></div>
      <div class="panel-body">

        <p>В окне поиска в строке «Поиск точных форм» наберите нужную словоформу и щелкните на кнопке «Поиск»:</p>
          <img src="{% static "img/exact-ru.png" %}" >
         <p>В этом поле также доступен поиск только по нескольким словоформам.  Слова делятся по пробелам, вводить их нужно без знаков препинания. Например, вы можете ввести запрос "кто виноват и  что делать", но не "кто виноват и что делать?".</p>
          <img src="{% static "img/search2.png" %}" >
           <p>В отдельном окне вы получите результаты поиска.</p>
          <img src="{% static "img/res1.png" %}" width="100%">
          <img src="{% static "img/res2.png" %}" width="100%">
          </div>
            </div>

                      <div class="panel panel-default content" id="lexic">
      <div class="panel-heading"><h4 >{% trans 'Что такое лексико-грамматический поиск?' %}</h4></div>
      <div class="panel-body">
          <p>Лексико-грамматический поиск позволяет искать все вхождения лексемы, вхождения лексемы в нужной грамматической форме, необходимые тэги ошибок, а так же позволяет искать сочетания нескольких слов.</p>
        <p>Чтобы найти все вхождения конкретной лексемы в корпус, на странице поиска в зоне «Лексико-грамматический поиск» в поле «Словоформа» наберите нужное слово и щелкните на кнопке «Поиск» (лексему нужно набирать в
основной, словарной форме):</p>
          <img src="{% static "img/lexic1-ru.png" %}" width="100%">
          <p>В ответ на этот запрос Вы получите все словоформы, относящиеся к лексеме и входящие
в Корпус.</p>
          <img src="{% static "img/search-ex1.png" %}" width="100%">
          <img src="{% static "img/search-ex2.png" %}" width="100%">
          <img src="{% static "img/search-ex3.png" %}" width="100%">
          </div></div>

    <div class="panel panel-default content"  id="distance">
      <div class="panel-heading"><h4>{% trans 'Расстояние между словами' %}</h4></div>
      <div class="panel-body">
          <p>В графе «Расстояние» устанавливается нужное расстояние от первого слова до всех следующих (например, расстояние 1–1 означает, что слово будет непосредственно справа от первого слова поиска, расстояние 1–2 – слово будет справа рядом или справа через одно слово, 2–2 – слово будет справа через одно слово от первого. Расстояние может быть отрицательным (например, -1 и -2). Если Вы ищете последовательность из трех слов, то в первой графе "Расстояние" нужно задать параметры 1-1, а во второй 2-2.</p>
          <img src="{% static "img/lexic3-ru.png" %}">
          <img src="{% static "img/search-ex4.png" %}" width="100%">
      </div>
    </div>

  </div>
  </div>
<div id="classification">
      <div class="col-md-3 " style="font-size: smaller; position: relative;">
         <ul class="nav nav-stacked" style="position: fixed">
                <li><a href="{% url 'main.static' 'help' %}#sec41">Орфография</a></li>
                <li><a href="{% url 'main.static' 'help' %}#sec42">Морфологические ошибки</a></li>
                <li><a href="{% url 'main.static' 'help' %}#sec43">Синтаксические ошибки</a></li>
                 <li><a href="{% url 'main.static' 'help' %}#sec44">Ошибки в конструкциях</a></li>
                <li><a href="{% url 'main.static' 'help' %}#sec45">Лексические ошибки</a></li>
                <li><a href="{% url 'main.static' 'help' %}#sec46">Дополнительные пометы</a></li>

            <li><a href="{% url 'main.static' 'help' %}#top">Наверх</a></li>

        </ul>
     </div>
        <div class="col-md-9">
          <table class="table table-bordered table-condensed" style="font-size: smaller">
            <thead>
            <tr>
                <th>Категория ошибок</th>
                <th>Тэг</th>
                <th>Описание</th>
                <th>Пример</th>
                <th>Разметка примера</th>
            </tr>
            </thead>
              <tbody>
              <tr>
                  <td rowspan="9" id="sec41">Орфография</td>
                  <td rowspan="2">Graph</td>
                  <td rowspan="2">смешение алфавитов</td>
                  <td>Dруг [‘=друг’] человек, которому вы можно доверять.</td>
                  <td>Graph+Subst</td>
              </tr>
              <tr>
                  <td>Но маме его не так думала… После этого она мне вообще не геагировала [‘=реагировала’]–через год!</td>
                  <td>Graph+Subst</td></tr>
              <tr>
                  <td rowspan="2">Hyphen</td>
                  <td rowspan="2">ошибки в дефисном написании</td>
                  <td>Кудато</td>
                  <td>Hyphen+Del
</td></tr>
              <tr>
                  <td>потому-что</td>
                  <td>Hyphen+Insert</td></tr>
              <tr>
                  <td rowspan="2">Space</td>
                  <td rowspan="2">ошибка в слитно-раздельном написании</td>
                  <td>не достаточный</td>
                  <td>Space+Insert</td></tr>
              <tr>
                  <td>Немогу</td>
                  <td>Space+Del
</td></tr>
              <tr>
                  <td>Ortho</td>
                  <td>прочие орфографические ошибки</td>
                  <td>карова, прожыть</td>
                  <td>Ortho+Subst</td></tr>
              <tr>
                  <td>Translit</td>
                  <td>неверная транлитерация имени собственного</td>
                  <td>Гиминьгвэй [вм. Хемингуэй]</td>
                  <td>Translit</td>
              </tr>
              <tr>
                  <td>Misspell</td>
                  <td>комплексная ошибка, затрагивающая несколько букв (трансформировано написание слова в целом)</td>
                  <td>деяк (вм. денег)</td>
                  <td>Misspell</td></tr>
              <tr>
                  <td rowspan="9" id="sec42">Морфологические ошибки</td>
                  <td rowspan="3">Deriv</td>
                  <td rowspan="3">случаи словотворчества, когда студент,
используя приставки и/или суффиксы,
создаёт несуществующее слово</td>
                  <td>Их шармантный акцент делает их обаятельными
</td>
                  <td>Deriv
</td></tr>
              <tr>
                  <td>Но это не действителная дружбость [‘=дружба’], а виртуальная подделка
</td>
                  <td>Deriv+Insert;
</td></tr>
              <tr>
                  <td> Не только люди, но собаки и котошки [‘=коты/кошки’] может быт другя.
</td>
                  <td>Deriv+Insert;
</td></tr>
              <tr>
                  <td rowspan="2">Infl</td>
                  <td rowspan="2">использование окончания,
которое отсутствует в парадигме данного слова</td>
                  <td>Я с Кодием [‘=Коди’] будем развиться.
</td>
                  <td>Infl+Insert
</td></tr>
              <tr>
                  <td>В статье не говорять о побочним действиях нелегальных наркотиках
</td>
                  <td>Infl+Subst
</td></tr>
              <tr>
                  <td>Num
</td>
                  <td>употребление слова в неверной числовой форме (несоответствующей контексту или аномальной для этого слова)</td>
                  <td>мы занимались физкультурами</td>
                  <td>Num</td></tr>
              <tr>
                  <td>Gender
</td>
                  <td>изменение родовой принадлежности слова</td>
                  <td>	Автор даёт серьезныю комментарию об американcком обществе</td>
                  <td>Gender</td></tr>
              <tr>
                  <td>Altern
</td>
                  <td>ошибка в чередовании основы</td>
                  <td>любю (вместо люблю)</td>
                  <td>Altern</td></tr>
              <tr>
                  <td>Morph
</td>
                  <td>прочие морфологические ошибки</td>
                  <td></td>
                  <td></td></tr>
              <tr>
                  <td rowspan="24" id="sec43">Синтаксические ошибки</td>
                  <td>Asp
</td>
                  <td>неверная видовая форма или неверный выбор глаголов ненаправленного или повторяющегося движения (ср. ехать - ездить)</td>
                  <td>Аня была русская женшина, которая не знала английский язык, я просто помню, как мне сразу она нравилась [‘=понравилась’].<br>
я   не   разу   на   пляж   не   ехала</td>
                  <td>Asp</td></tr>
              <tr>
                  <td>ArgStr
</td>
                  <td>ошибки в аргументной структуре глагола, существительного или прилагательного</td>
                  <td>Исскусство учит человека о эмоциональной глубине</td>
                  <td>ArgStr+Insert</td></tr>
              <tr>
                  <td>Passive
</td>
                  <td>неверное использование пассива</td>
                  <td>лесть часто злоупотребляется… [вм. лестью часто злоупотребляют ]
Когда Николас проснулся они были обокрадены</td>
                  <td>Passive</td></tr>
              <tr>
                  <td>Tense
</td>
                  <td>ошибка во временной форме глагола (например, когда по контексту ясно, что требуется прошедшее время, а студент употребил настоящее). NB! Тег описывает только ошибки во времени глагола, не в виде - видовые ошибки маркируются тегом Asp</td>
                  <td></td>
                  <td></td></tr>

              <tr>
                  <td>Mode
</td>
                  <td>ошибка в использовании условного наклонения или образовании формы условного наклонения (пропуск частицы бы, не - в вопросах типа "Не могли бы вы прислать мне инструкцию?" )</td>
                  <td>Экономическая составляющая важно в том,
  что нужны такие фирмы и организации чтобы помогать этому экологическую региону [вм. которые бы помогали этому региону] <br>Это возможно, если участники согласились [вм. Если бы все участники согласились]</td>
                  <td>Mode</td></tr>

              <tr>
                  <td>Refl

</td>
                  <td>неверное употребление возвратных глаголов	 </td>
                  <td>стречала  [= встречалась] с   мою подрушку</td>
                  <td>Refl</td></tr>
              <tr>
                  <td>AgrNum
</td>
                  <td>ошибка в согласовании по числу</td>
                  <td>Друг слышал и нравится что вы сказал [‘=сказали’].<br>
Сема взял черепаху в руки, взял все своё принадлежности</td>
                  <td>AgrNum</td></tr>
              <tr>
                  <td>AgrCase
</td>
                  <td>ошибка в согласовании по падежу
(NB Тег AgrCase не используется в случаях нарушения падежного управления: ср.  с этом значением vs стречала   с   мою подрушку. Ошибка в управлении описывается тегом Gov)</td>
                  <td>с этом значением</td>
                  <td>AgrCase</td></tr>
              <tr>
                  <td>AgrGender
</td>
                  <td>ошибка в согласовании по роду (прилагательных, причастий, местоимений или глаголов прошедшего времени)</td>
                  <td>Наша дружба самая важная асппект моей жизни.</td>
                  <td>AgrGender</td></tr>
              <tr>
                  <td>AgrPers
</td>
                  <td>неверное согласование сказуемого по лицу</td>
                  <td>Она никогда не буду стать [‘=станет’] врачом</td>
                  <td>AgrPers</td></tr>
              <tr>
                  <td>AgrGerund
</td>
                  <td>ошибка в согласовании деепричастия</td>
                  <td>Ходя по этому городу мой рот не закрывался от удевления</td>
                  <td>AgrGerund</td></tr>
              <tr>
                  <td>Gov
</td>
                  <td>ошибка в управлении
(NB Тег Gov не используется в случаях нарушения согласования по падежу: ср.  стречала   с   мою подрушку vs с этом значением. Ошибка в падежном согласовании описывается тегом AgrCase)</td>
                  <td>Он … полон красотой  [вм. полон красоты]чистых и нежных эмоций<br>
Люди думают, что легко найти хороших друзья [вм. найти хороших друзей]</td>
                  <td>Gov</td></tr>
              <tr>
                  <td rowspan="2">Ref</td>
                  <td rowspan="2">ошибки в употреблении местоимений (пропуск или неверный выбор местоимения)</td>
                  <td>Я люблю русский язык и никогда не забуду. [вм. никогда его не забуду]
</td>
                  <td>Ref+Del
</td></tr>
              <tr>
                  <td>Почему Тарковский назвал его фильм [вм. свой фильм]
именно «Иваново детство»?»
</td>
                  <td>Ref+Subst
</td></tr>
              <tr>
                  <td rowspan="2">Conj </td>
                  <td rowspan="2">ошибка в употреблении союза</td>
                  <td>Главное, можно понимать причины зачем это случается [вм. почему это случается]
</td>
                  <td>Conj
</td></tr>
              <tr>
                  <td>Нам всем интересно, если у меня будет сын или дочь; [вм. ли: будет ли у меня…]
</td>
                  <td>Conj+Transfer
</td></tr>
              <tr>
                  <td>WO
</td>
                  <td>ошибка в порядке слов	</td>
                  <td>С большими трудностями приходится сталкиваться директору приюта ежедневно.</td>
                  <td>WO</td></tr>
              <tr>
                  <td>Neg
</td>
                  <td>неверная постановка отрицания</td>
                  <td>Если человек понимает как язык работает тогдо не будет сложно понимать юмор или поэзю [вм. будет несложно понимать…]</td>
                  <td>	Neg</td></tr>
              <tr>
                  <td>Aux
</td>
                  <td>Неверное употребление глагола «есть», глаголов-связок</td>
                  <td>Когда мне грустно, друг всегда есть со мной [вм. друг всегда со мной]</td>
                  <td>Aux+Insert</td></tr>
              <tr>
                  <td>Brev
</td>
                  <td>Употребление кратких/полных прилагательных</td>
                  <td>Чай был такой вкусен! [вм. такой вкусный]</td>
                  <td>Brev</td></tr>
             <tr>
              <td>Com</td>
              <td>ошибки в сравнительных формах</td>
             <td></td>
             <td>Com</td></tr>
             <tr>
              <td>GenNeg</td>
              <td>ошибка в отрицании при инфинитиве</td>
             <td>В самом деле, у них нет ответы всех вопрос, потому что они не знают все в мире</td>
             <td>GenNeg</td></tr>
              <tr>
                  <td>Impers</td>
                  <td>ошибки в безличных и неопределенно личных конструкциях</td>
                  <td></td>
                  <td></td></tr>
                 <tr>
                  <td>Syntax</td>
                  <td>прочие синтаксические ошибки, не описанные в классификации</td>
                  <td></td>
                  <td></td></tr>

              <tr>

                  <td id="sec44">Ошибки в конструкциях
</td>
                  <td>Constr
</td>
                  <td>неверный выбор конструкции или ошибка внутри конструкции (ошибка затрагивает выбор или форму более одной единицы или связана с пропуском/добавлением единицы)</td>
                  <td>Я имею две собаки [вм. у меня есть]<br>
На большей части моей жизни я не знала, что такое друг
</td>
                  <td>Constr+Subst</td></tr>
              <tr>
                  <td rowspan="6" id="sec45">Лексические ошибки</td>
                  <td>Lex</td>
                  <td>неверное словоупотребление</td>
                  <td>Наша учительница принципиально проводила урок на русском языке [вм. специально]<br>
У ног башни [вм. у подножия башни] расположен великолепный парк в котором можно прекрасно отдохнуть и насладиться духом этого города
</td>          <td>Lex
</td></tr>
              <tr>
              <td>Prep</td>
              <td>ошибка в употреблении предлога</td>
             <td>Нам ['=Для нас'] мнения других слишком важны</td>
             <td>prep + miss</td></tr>
              <tr>
                  <td rowspan="2">CS</td>
                  <td rowspan="2">code-switching (использование иноязычного слова, написанного латиницей или кириллицей)</td>
                  <td>У берега бегала dog
</td>
                  <td>CS
</td></tr>
              <tr>
                  <td>небо было хелл блау
</td>
                  <td>CS</td></tr>
              <tr>
                  <td>Par
</td>
                  <td>паронимия</td>
                  <td>Этот завлекательный [вм. увлекательный] язык <br>
Ближние каникулы [вм. ближайшие]	</td>
                  <td>Par</td></tr>
              <tr>
                  <td>Idiom
</td>
                  <td>ошибка в употреблении устойчивого словосочетания</td>
                  <td>От дубов простыл и свет [вм. след]<br>
Эти мысли застряли в голове [вм. засели в голове]</td>
                  <td>Idiom</td></tr>
              <tr>
                  <td rowspan="7" id="sec46">Дополнительные теги
(используются только
в сочетании с тегами
ошибок, приведёнными выше)
</td>
                  <td>Transfer
</td>
                  <td>интерференция с L1</td>
                  <td>Я не могу дождадса до кониколов [калька ‘wait till’]
но я совсем забыла что мне нужно здават 2  бумаги через неделю [калька “paper”]</td>
                  <td></td></tr>
              <tr>
                  <td>Not-clear
</td>
                  <td>по контексту невозможно восстановить смысл фразы и исправить ошибку</td>
                  <td>Он не приходит груст тебе, но шоколат и ГУЕННЫ.</td>
                  <td></td></tr>
              <tr>
                  <td>Miss

</td>
                  <td>пропуск буквы, морфемы или слова </td>
                  <td>Мы наблюдаем разные процессы с явлениями природы [пропуск причастия связанные]</td>
                  <td></td></tr>
              <tr>
                  <td>Extra
</td>
                  <td>вставка ненужной элемента (буквы, морфемы или слова)</td>
                  <td>У него ещё одна причина, чтобы увидеть, если ли она достойна услышать его теорию [лишний союз если]</td>
                  <td></td></tr>
              <tr>
                  <td>Transp
</td>
                  <td>перестановка двух соседних элементов (буквы, морфемы или слова) </td>
                  <td></td>
                  <td></td></tr>
              <tr>
                  <td>Subst
</td>
                  <td>замена буквы, морфемы или слова  </td>
                  <td></td>
                  <td></td></tr>
                  <tr>
                  <td>Disc
</td>
                  <td>Ошибка в дискурсе(?) (ставится совместно с Lex, WO или Constr)</td>
                  <td>В свою очередь как ['=В то время как'] другие участники… </td>
                  <td></td></tr>
              </tbody>
          </table>
      </div>
  </div>
  <div id="howtoann">
      <div class="col-md-3 " style="font-size: smaller; position: relative;">
         <ul class="nav nav-stacked"  style="position: fixed">
                <li><a href="#start">Начало работы</a></li>
             <li><a href="#annotatewindow">Окно разметки</a></li>
                <li><a href="#annotatetexts">Разметка</a></li>
{#              <li><a href="#errors">Сообщения об ошибках</a></li>#}

            <li><a href="#top">{% trans "Back to top" %}</a></li>

        </ul>
     </div>
        <div class="col-md-9">
            <div class="panel panel-default content" id="start">
                  <div class="panel-heading"><h4>{% trans 'Начало работы' %}</h4></div>
                  <div class="panel-body">
<p>Чтобы приступить к разметке в корпусе RLC необходимо:</p>
                      <ol>
                          <li>Зайти на сайт под своим логином, кликнув на портрет в верхнем правом углу и
заполнив поля логин/пароль в появившемся окне.</li>
                          <li>Перейти в раздел “Аннотировать” и выбрать текст в нужном разделе. Первый
номер перед названием текста означает его порядковый номер в данном
разделе, второй номер – уникальный номер в базе данных.<br>
<i><strong class="text-warning">NB!</strong> Поскольку тексты постоянно могут перемещаться из раздела в раздел
и менять порядок, для указания текста используется его уникальный номер.</i></li>
                      </ol>
                  </div>
                </div>

            <div class="panel panel-default content" id="annotatewindow">
                  <div class="panel-heading"><h4>{% trans 'Окно разметки' %}</h4></div>
                  <div class="panel-body">
<img src="{% static "img/annotator-interface.png" %}" width="100%">
                      <img src="{% static "img/annotator-interface2.png" %}" width="100%">

                  </div>
                </div>

            <div class="panel panel-default content" id="annotatetexts">
                  <div class="panel-heading"><h4>{% trans 'Разметка' %}</h4></div>
                  <div class="panel-body">
<p>На странице текста, чтобы разметить фрагмент, необходимо его выделить, зажав
левую кнопку мыши, а затем нажать <img src="{% static "img/addannotation.png" %}">.</p>
                      <img src="{% static "img/annotator-interface3.png" %}" width="100%">
<p>В открывшемся окне нужно ввести теги и исправления.</p>
                      <img src="{% static "img/annotator-interface4.png" %}" width="100%">
                      <p>Список используемых тэгов
расположен справа от текста. Кроме того, в поле ввода тегов при вводе хотя бы одного
символа появляется список-подсказка.</p>
                      <img src="{% static "img/annotator-interface5.png" %}" width="100%">
<p>При разметке следует помнить следующие правила:</p>
                      <ul>
                          <li>Несколько тегов записываются через пробел. Если тег выбран из списка-подсказки, пробел ставится автоматически.</li>
                          <li>Теги могут пересекаться, т.е. внутри размеченного фрагмента можно разметить
другой фрагмент.</li>
                          <li>В случаях подобных “Он открыл дверь красивый ключ” тег ставится только у
слова “ключ”, так как “красивый” было согласовано правильно, хоть и с
неправильной формой существительного.</li>
                      </ul>
                      <img src="{% static "img/annotator-interface6.png" %}" width="100%" >

<p>После того, как разметка текста <strong>полностью</strong> закончена необходимо нажать оранжевую
кнопку “Annotated”, тем самым переместив его в раздел “Annotated, not checked”.</p>
                  </div>
                </div>

{#            <div class="panel panel-default content" id="errors">#}
{#                  <div class="panel-heading"><h4>{% trans 'Сообщения об ошибках' %}</h4></div>#}
{#                  <div class="panel-body">#}
{##}
{#                  </div>#}
{#                </div>#}
        </div>
  </div>
  <div id="howtoregister">
    <div class="col-md-3 " style="font-size: smaller; position: relative">
         <ul class="nav nav-stacked"  style="position: fixed">
                <li><a href="#why-register"> {% trans 'Что дает регистрация в корпусе' %}</a></li>
                <li><a href="#how-register">{% trans 'Как зарегистрироваться' %}</a></li>
              <li><a href="#forgotpassword">{% trans 'Что делать, если я забыл пароль' %}</a></li>

            <li><a href="#top">{% trans "Back to top" %}</a></li>

        </ul>
     </div>
        <div class="col-md-9">
            <div class="panel panel-default content" id="why-register">
                  <div class="panel-heading"><h4>{% trans 'Что дает регистрация в корпусе' %}</h4></div>
                  <div class="panel-body">
                    <p>Зарегистрировавшись в корпусе, вы сможете: </p>
                      <ul>
                          <li>добавлять в корпус новые тексты и информацию об авторах,</li>
                          <li>получить доступ к полным текстам, а не только к результатам поиска с расширенным контекстом,</li>
                          <li>добавлять тэги / комментарии / исправления к текстам,</li>
                          <li>редактировать существующую разметку,</li>
                          <li>размечать примеры непосредственно в поисковой выдаче,</li>
                          <li>перейти от выдачи поиска к полным текстам,</li>
                          <li>сохранять в свою учетную запись выбранные примеры.</li>
                      </ul>
                  </div>
                </div>
				
	         <div class="panel panel-default content" id="how-register">
                  <div class="panel-heading"><h4>{% trans 'Как зарегистрироваться' %}</h4></div>
                  <div class="panel-body">
<p>Чтобы получить доступ к необходимым вам функциям, нужно подать заявку на регистрацию в корпусе RLC, отправив письмо на адрес small.corpora@gmail.com с темой "Регистрация в RLC". Пожалуйста, укажите в письме причины, по которым вам необходим доступ в корпус.</p>
                      <p>В течение нескольких дней вы получите ответ с вашим персональным логином и временным паролем для первого входа.</p>
                  </div>
                </div>	

            <div class="panel panel-default content" id=forgotpassword">
                  <div class="panel-heading"><h4>{% trans 'Что делать, если я забыл пароль' %}</h4></div>
                  <div class="panel-body">
<p>Если вы забыли пароль, отправьте письмо на адрес small.corpora@gmail.com с темой "Восстановление пароля в RLC". Пожалуйста, укажите в письме ваш логин. Если вы также не помните логин, достаточно просто написать нам с того же электронного адреса, с которым вы были зарегистрированы. </p>
                       <p>В течение нескольких дней ваш пароль будет сброшен, и вы получите письмо с новым паролем.</p>
                  </div>
                </div>				
        </div>
  </div>
    {% if request.user.is_authenticated %}
    <div id="howtoaddtexts">
       <div class="col-md-3">
<div class="col-md-3" style="font-size: smaller; position: relative">
        <ul class="nav nav-stacked" style="position: fixed">

                <li><a href="#addtext">Как добавить текст</a></li>
                <li><a href="#metadata">Заполнение метаполей</a></li>

            <li><a href="#top">{% trans "Back to top" %}</a></li>

        </ul>
      </div>
     </div>
        <div class="col-md-9">
<div class="panel panel-default">
      <div class="panel-heading"><h4 id="addtext">{% trans 'Как добавлять тексты' %}</h4></div>
      <div class="panel-body">
           <div class="row">

<div class="col-sm-12">

          <p>Перейдите в "Панель управления". В окне "Annotator" нужно найти строчку "Документы". В этой строчке вы можете нажать на слово "Добавить +", чтобы перейти к добавлению нового текста в корпус. Щелкнув на слово "Документы", вы перейдете к списку всех текстов. Справа вверху вы можете нажать кнопку "Добавить документ", чтобы перейти к добавлению текста в корпус.</p>
          <p>В открывшемся окне необходимо вставить новый текст в поле "Текст" и заполнить поля "Источник текста" и "Автор". Если возможно, заполните прочие поля документа (подробнее см. <a href="#sec3">информацио о метаразметке</a>).</p>
          <p>Нажмите кнопку "Сохранить" и подождите немного: текст обрабатывается морфологическим парсером и добавляется в базу данных. После того, как текст будет записан, вы автоматически перейдете к списку документов и увидите уведомение "Документ был успешно добавлен".</p>
    </div>
  	</div>
      </div>
</div>
          <div class="panel panel-default">
      <div class="panel-heading"><h4 id="metadata">{% trans 'Метаразметка' %}</h4></div>
      <div class="panel-body">
           <div class="row">

<div class="col-sm-12">
         <p>Описание полей метаразметки.</p>
          <ul>
              <li><b>Создатель</b> - логин пользователя, который загружает текст.</li>
              <li><b>Источник текста</b> - имя и фамилия человека, предоставившего текст, и название организации/университета, в котором он работает </li>
          </ul>
          <p>Информация об авторе</p>
          <ul>
              <li><b>Автор</b> - шифр или псевдоним автора текста (используется вместо имени, т.к. имена авторов должны оставаться анонимными)</li>
              <li><b>Пол</b> - пол автора текста.</li>
              <li><b>Курс</b> - учебный курс или программа, в рамках которых было задано написание текста (необязательное поле).</li>
              <li><b>Language background</b> - изучение русского языка как иностранного\эритажного.</li>
              <li><b>Уровень</b> - уровень владения русским языком по шкале CEFR или ACTFL</li>
              <li><b>Доминантный язык</b> - язык, на котором студент общается большую часть времени</li>
{#              <li><b>Код студента</b> - </li>#}
              <li><b>Full metadata</b> - заполнены ли основные поля метаданных (доминантный язык, language background, уровень владения, тип текста)</li>
          </ul>
          <p>Информация о тексте</p>
          <ul>
              <li><b>Дата</b> - год создания текста</li>
              <li><b>Жанр</b>  </li>
              <li><b>Тип текста</b> - устный\письменный</li>
{#              <li><b>Аннотация</b> - </li>#}
              <li><b>Временные ограничения</b> - </li>
              <li><b>Подкорпус</b> - RULEC | HSE</li>
          </ul>

{#          <hr id="sec5">#}
{#        <h4 id="annotating">{% trans 'Разметка ошибок' %}</h4>#}
{#          <hr id="sec6">#}
{#        <h4>..</h4>#}



        </div>
  	</div>
      </div></div>
        </div>
  </div>
{% endif %}
    </div>
    </div>


{#{% if not request.user.is_authenticated %}#}
{#    <div class="well well-sm" id="howtoann"><small>{% trans 'Чтобы получить доступ к <mark>инструкции по работе в панели управления и описанию инструмента разметки</mark>, войдите в систему, используя ваш логин и пароль.' %}</small></div>#}
{#    {% endif %}#}

    <!--/right-->

{% endblock content %}